<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/thrift/cloudatl"
            class="fr.inria.atlanmod.mondo.integration.cloudatl.servlet.CloudAtlThriftServlet">
      </servlet>
   </extension>

</plugin>
