<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/thrift/offline-collaboration"
            class="org.mondo.collaboration.offline.management.servlet.OfflineManagementServlet">
      </servlet>
   </extension>

</plugin>
