<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="MONDO Integration Target Platform" sequenceNumber="123">
<locations>
<location path="${resource_loc:/uk.ac.york.mondo.integration.targetplatform/bundles}" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201405281429"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.101.v20150129-1950"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.2.v20141221-2352"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20141221-2352"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.2.v20150203-1939"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20141221-2352"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20141221-2352"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20141221-2352"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.9.2.v20141221-2352"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.10.1.v20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.gef.feature.group" version="3.9.101.201408150207"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.bpmn2.feature.group" version="1.0.0.201412192138"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.feature.group" version="3.10.1.v20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201405281451"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.mapping.feature.group" version="2.8.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.9.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.feature.group" version="2.10.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.9.0.v20150123-0452"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.9.0.v201507170721"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.0.v201507170721"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.3.0.201510050917"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.3.0.201510050917"/>
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.3.0.201510050917"/>
<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.3.0.201510050917"/>
<repository location="http://download.eclipse.org/epsilon/interim/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hawk.core.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.neo4jv2.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.osgiserver.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.emf.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.localfolder.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.epsilon.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.bpmn.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.ifc.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.ui.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.svn.feature.feature.group" version="1.0.0.201510081420"/>
<unit id="org.hawk.modelio.feature.feature.group" version="1.0.0.201510081420"/>
<repository location="https://www.cs.york.ac.uk/mondo/downloads/hawk/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.incquery.sdk.feature.source.feature.group" version="1.1.0.201510021635"/>
<repository location="http://download.eclipse.org/incquery/updates/integration"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
