<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="MONDO Integration Target Platform" sequenceNumber="52">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location path="${resource_loc:/uk.ac.york.mondo.integration.targetplatform/bundles}" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.101.v20150129-1950"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.2.v20141221-2352"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20141221-2352"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.2.v20150203-1939"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20141221-2352"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20141221-2352"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20141221-2352"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.9.2.v20141221-2352"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.gef.feature.group" version="3.9.101.201408150207"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hawk.ifc.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.epsilon.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.svn.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.neo4jv2.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.localfolder.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.emf.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.core.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.osgiserver.feature.feature.group" version="1.0.0.201507171531"/>
<unit id="org.hawk.modelio.feature.feature.group" version="1.0.0.201507171531"/>
<repository location="file:/usr/userfs/a/agd516/Documents/mondo-hawk/org.hawk.updatesite/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.3.0.201507161642"/>
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.3.0.201507161642"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.3.0.201507161642"/>
<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.3.0.201507161642"/>
<repository location="http://download.eclipse.org/epsilon/interim/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.mapping.feature.group" version="2.8.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.9.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.feature.group" version="2.10.0.v20150123-0452"/>
<unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.9.0.v20150123-0452"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>en_GB</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
