<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Remote Hawk Model Descriptor Editor"
            extensions="hawkmodel"
            icon="icons/sample.gif"
            contributorClass="uk.ac.york.mondo.integration.hawk.emf.dt.editors.HawkMultiPageEditorContributor"
            class="uk.ac.york.mondo.integration.hawk.emf.dt.editors.HawkMultiPageEditor"
            id="uk.ac.york.mondo.integration.hawk.emf.dt.editors.HawkMultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Hawk"
            id="uk.ac.york.mondo.integration.hawk.emf.dt">
      </category>
      <wizard
            name="Remote Hawk Model Descriptor File"
            icon="icons/sample.gif"
            category="uk.ac.york.mondo.integration.hawk.emf.dt"
            class="uk.ac.york.mondo.integration.hawk.emf.dt.wizards.NewRemoteHawkModelDescriptorWizard"
            id="uk.ac.york.mondo.integration.hawk.emf.dt.wizards.NewRemoteHawkModelDescriptorWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.epsilon.dt.exeed.customizer">
      <customizer
            customizerClass="uk.ac.york.mondo.integration.hawk.emf.dt.viewer.HawkExeedCustomizer"
            resourceClass="uk.ac.york.mondo.integration.hawk.emf.HawkResourceImpl">
      </customizer>
   </extension>

</plugin>
